body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    border-bottom: 2px solid #1F1F1F
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

main h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

main h2 span {
    font-size: 14px;
    color: #AAAAAA;
}

.category {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2B2B2B;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out
}

.category:hover {
    border: 1px solid #00BFFF;
}

.category img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius:30%;
}

.category h3 {
    margin: 0;
    font-size: 16px;
}

.category p {
    margin: 0;
    font-size: 14px;
    color: #AAAAAA;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #121212;
    border-top: 2px solid #1F1F1F
}

nav button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

nav button img {
    width: 24px;
    height: 24px;
}

nav button span {
    display: block;
    margin-top: 5px;
}

nav button:hover {
    color: #00BFFF;
}
